<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" routerLink="/">
      <i class="bi bi-house-door-fill"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
             routerLinkActive="active">{{'Road network' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cities" routerLinkActive="active">{{'Cities' | translate }}</a>
        </li>
      </ul>

      <ul class="navbar-nav me-2">
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            {{'Language' | translate }}
          </span>
          <ul class="dropdown-menu dropdown-menu-end" style="min-width: 1rem;">
            <li *ngFor="let language of languages" [value]="language">
              <div class="dropdown-item" [ngClass]="{'disabled': language.code === currentLanguage}"
                   (click)="changeLanguage(language.code)">
                <span>{{language.name | translate}}</span>
                <img [src]="language.flagIconUrl" class="ms-2" style="width: 20px" alt="Flag">
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
