<app-navbar></app-navbar>

<div class="container pt-3">

  <div class="row gx-5">
    <div class="col-7">
      <div id="cy"></div>
    </div>

    <div class="col-5">
      <label for="cityName" class="form-label">City name</label>
      <div class="row">
        <div class="col-3">
          <input type="text" [formControl]="newCityName" class="form-control" id="cityName">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="addCity()"
                  [disabled]=" !newCityName.valid">Add city
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-primary" (click)="roadTypeCollapse.toggle()"
                  [attr.aria-expanded]="!isRoadTypesCollapsed">
            Road types
          </button>
        </div>
      </div>

      <div #roadTypeCollapse="ngbCollapse" [(ngbCollapse)]="isRoadTypesCollapsed">
        <table class="table table-striped mt-4" *ngIf="roadTypes.length > 0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Weight</th>
            <th scope="col">Color</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let roadType of roadTypes">
            <td>{{ roadType.id }}</td>
            <td>{{ roadType.type }}</td>
            <td>{{ roadType.weight  | number : '1.2-2'}} </td>
            <td>
              <input type="color" class="form-control form-control-color" value="{{ roadType.color }}" disabled>
            </td>
            <td>
              <button class="btn mx" (click)="selectEditingRoadType(roadType)"><i class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn mx" (click)="deleteRoadType(roadType)"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tbody>
        </table>

        <div class="row">
          <form [formGroup]="roadTypeForm">
            <div class="form-group row">
              <div class="col">
                <label for="roadType" class="form-label">Type</label>
                <input type="text" formControlName="type" class="form-control" id="roadType">
              </div>

              <div class="col">
                <label for="roadWeight" class="form-label">Weight</label>
                <input type="number" min="0.1" max="10" step="0.1" formControlName="weight" class="form-control"
                       id="roadWeight">
              </div>

              <div class="col-auto">
                <label for="roadColor" class="form-label">Color</label>
                <input type="color" formControlName="color" class="form-control form-control-color" id="roadColor">
              </div>
            </div>
          </form>
        </div>

        <div class="row pt-2">
          <div class="col-auto" *ngIf="selectedRoadTypeId!= -1">
            <button type="submit" class="btn btn-primary px-4" (click)="editRoadType()"
                    [disabled]="!roadTypeForm.valid">Edit
            </button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary px-4" (click)="addRoadType()"
                    [disabled]="!roadTypeForm.valid">Add
            </button>
          </div>
        </div>

      </div>

      <table class="table table-striped mt-4" *ngIf="selectedNodeEdges.length > 0">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Source</th>
          <th scope="col">Target</th>
          <th scope="col">Distance</th>
          <th scope="col">Type</th>
          <th scope="col">Capacity</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let edge of selectedNodeEdges; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ edge.source }}</td>
          <td>{{ edge.target }}</td>
          <td>{{ edge.distance  | number : '1.2-2'}}</td>
          <td>{{ edge.roadType.type }}</td>
          <td>{{ edge.bearingCapacity  | number : '1.2-2'}} </td>
          <td>
            <button class="btn mx" (click)="selectEditingEdge(edge)"><i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn mx" (click)="deleteEdge(edge)"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tbody>
      </table>

    </div>

  </div>

</div>
