<simple-notifications [options]="options"></simple-notifications>
<app-navbar></app-navbar>

<div class="container pt-3">
  <div class="row gx-4">
    <div class="col-6">
      <form class="row mb-3">
        <div class="col-auto align-self-end">
          <label for="nodesNumber" class="form-label">{{'Number of nodes' | translate }}</label>
        </div>
        <div class="col-3">
          <input type="number" [formControl]="nodesNumber" class="form-control" id="nodesNumber">
        </div>
        <div class="col-auto">
          <button #generateGraphButton type="submit" class="btn btn-primary" (click)="generateGraph($event)">
            {{'Generate graph' | translate }}
          </button>
        </div>
      </form>

      <div id="cy"></div>

      <form [formGroup]="findRoutesForm" class="mt-3">
        <div class="row">
          <div class="col-auto">
            <label for="startingCity" class="form-label">{{'Starting city' | translate }}</label>
            <select id="startingCity" class="form-select" formControlName="startingCity">
              <option *ngFor="let nodeId of allNodesId" [ngValue]="nodeId">{{nodeId}}</option>
            </select>
          </div>

          <div class="col-auto">
            <label for="bearingCapacity" class="form-label">{{'Min bearing capacity' | translate }}</label>
            <input type="number" min="0" step="1" formControlName="bearingCapacity" class="form-control"
                   id="bearingCapacity">
          </div>

          <div class="col-auto align-self-end">
            <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
              <mat-label>{{'Road types' | translate }}</mat-label>
              <mat-select formControlName="roadTypes" multiple>
                <mat-option *ngFor="let roadType of roadTypes" [value]="roadType">{{roadType.type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-auto align-self-end">
            <button class="btn btn-primary" (click)="findRoutes($event)"
                    [disabled]="!findRoutesForm.valid">
              {{'Find routes' | translate }}
            </button>
          </div>

          <div class="col-auto align-self-end">
            <button type="button" class="btn btn-outline-primary" (click)="routesMatrixTableCollapse.toggle()"
                    [attr.aria-expanded]="!isRoutesMatrixTableCollapsed"
                    [hidden]="!(costMatrix | costMatrixValid) || routesMatrix.length === 0">
              {{'Routes' | translate }}
            </button>
          </div>

          <div class="col-auto align-self-end">
            <button class="btn btn-primary" (click)="excludeNotConnectedCities($event)"
                    [hidden]="(costMatrix | costMatrixValid)">
              Exclude cities
            </button>
          </div>

          <div class="col-auto align-self-end">
            <app-validation-error [message]="'Cities are not connected!'"
                                  *ngIf="!(costMatrix | costMatrixValid)"></app-validation-error>
          </div>
        </div>
      </form>

      <div class="table-responsive mt-4" style="max-height: 600px" #routesMatrixTableCollapse="ngbCollapse"
           [(ngbCollapse)]="isRoutesMatrixTableCollapsed">
        <table class="table table-striped" *ngIf="routesMatrix.length > 0">
          <thead>
          <tr>
            <th scope="col"></th>
            <th *ngFor="let routes of routesMatrix; index as i" scope="col" class="text-center">{{routes[i].to}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let routes of routesMatrix; index as i">
            <th scope="row">{{routes[i].from}}</th>
            <td *ngFor="let route of routes" class="text-center">
              <a href="" style="text-decoration: none;" (click)="$event.preventDefault(); onRouteMatrixClick(route)"
                 [innerHTML]="route.cost |  number: '1.0-2' | routeCost">
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <label for="cityName" class="form-label">{{'City name' | translate }}</label>
      <div class="row">
        <div class="col-3">
          <input type="text" [formControl]="newCityName" class="form-control" id="cityName">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="addCity()"
                  [disabled]=" !newCityName.valid || isPathShown">{{'Add city' | translate }}
          </button>
        </div>
        <div class="col-auto" *ngIf="selectedNodeId != ''">
          <button type="button" class="btn btn-danger" [disabled]="isPathShown" (click)="deleteCity()">
            {{'Delete city' | translate }}
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-primary" (click)="roadTypeCollapse.toggle()"
                  [attr.aria-expanded]="!isRoadTypesCollapsed">
            {{'Road types' | translate }}
          </button>
        </div>
      </div>

      <div #roadTypeCollapse="ngbCollapse" [(ngbCollapse)]="isRoadTypesCollapsed">
        <hr>
        <table class="table table-striped mt-4" *ngIf="roadTypes.length > 0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Type' | translate }}</th>
            <th scope="col">{{'Weight' | translate }}</th>
            <th scope="col">{{'Color' | translate }}</th>
            <th scope="col">{{'Actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let roadType of roadTypes">
            <th scope="row">{{ roadType.id }}</th>
            <td>{{ roadType.type }}</td>
            <td>{{ roadType.weight  | number : '1.2-2'}} </td>
            <td>
              <input type="color" class="form-control form-control-color" value="{{ roadType.color }}" disabled>
            </td>
            <td>
              <button class="btn mx" [disabled]="isPathShown" (click)="selectEditingRoadType(roadType)"><i
                class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn mx" [disabled]="isPathShown" (click)="deleteRoadType(roadType)"><i
                class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <form [formGroup]="roadTypeForm">
            <div class="form-group row">
              <div class="col">
                <label for="roadType" class="form-label">{{'Type' | translate }}</label>
                <input type="text" formControlName="type" class="form-control" id="roadType">
              </div>

              <div class="col">
                <label for="roadWeight" class="form-label">{{'Weight' | translate }}</label>
                <input type="number" min="0.1" max="10" step="0.1" formControlName="weight" class="form-control"
                       id="roadWeight">
              </div>

              <div class="col-auto">
                <label for="roadColor" class="form-label">{{'Color' | translate }}</label>
                <input type="color" formControlName="color" class="form-control form-control-color" id="roadColor">
              </div>
            </div>
          </form>
        </div>

        <div class="row pt-2">
          <div class="col-auto" *ngIf="selectedRoadTypeId!= -1">
            <button type="submit" class="btn btn-primary px-4" (click)="editRoadType()"
                    [disabled]="!roadTypeForm.valid || isPathShown">Edit
            </button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary px-4" (click)="addRoadType()"
                    [disabled]="!roadTypeForm.valid || isPathShown">{{'Add' | translate }}
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="selectedNodeId != ''">
        <hr>
        <table class="table table-striped mt-4" *ngIf="selectedNodeEdges.length > 0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Source' | translate }}</th>
            <th scope="col">{{'Target' | translate }}</th>
            <th scope="col">{{'Type' | translate }}</th>
            <th scope="col">{{'Distance' | translate }}</th>
            <th scope="col">{{'Capacity' | translate }}</th>
            <th scope="col">{{'Actions' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let edge of selectedNodeEdges; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ edge.source }}</td>
            <td>{{ edge.target }}</td>
            <td>{{ edge.roadType.type }}</td>
            <td>{{ edge.distance  | number : '1.2-2'}}</td>
            <td>{{ edge.bearingCapacity  | number : '1.2-2'}} </td>
            <td>
              <button class="btn mx" [disabled]="isPathShown" (click)="selectEditingEdge(edge)"><i
                class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn mx" [disabled]="isPathShown" (click)="deleteEdge(edge)"><i
                class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row pt-2">
          <form [formGroup]="edgeForm">
            <div class="form-group row">
              <div class="col">
                <label for="sourceEdge" class="form-label">{{'Source' | translate }}</label>
                <select id="sourceEdge" class="form-select" formControlName="source">
                  <option [ngValue]="selectedNodeId">{{selectedNodeId}}</option>
                </select>
              </div>

              <div class="col">
                <label for="targetEdge" class="form-label">{{'Target' | translate }}</label>
                <select id="targetEdge" class="form-select" formControlName="target">
                  <option *ngFor="let nodeId of allNodesId | filterSelectedNode: selectedNodeId"
                          [ngValue]="nodeId">{{nodeId}}</option>
                </select>
              </div>

              <div class="col">
                <label for="roadTypeEdge" class="form-label">{{'Type' | translate }}</label>
                <select id="roadTypeEdge" class="form-select" formControlName="roadType">
                  <option *ngFor="let roadType of roadTypes" [ngValue]="roadType">{{roadType.type}}</option>
                </select>
              </div>

              <div class="col">
                <label for="distanceEdge" class="form-label">{{'Distance' | translate }}</label>
                <input type="number" min="0" step="1" formControlName="distance" class="form-control" id="distanceEdge">
              </div>

              <div class="col">
                <label for="capacityEdge" class="form-label">{{'Capacity' | translate }}</label>
                <input type="number" min="0" step="1" formControlName="capacity" class="form-control" id="capacityEdge">
              </div>
            </div>
          </form>
        </div>
        <div class="row pt-2">
          <div class="col-auto" *ngIf="selectedEdgeId!= ''">
            <button type="submit" class="btn btn-primary px-4" (click)="editEdge()"
                    [disabled]="!edgeForm.valid || isPathShown">Edit
            </button>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary px-4" (click)="addEdge()"
                    [disabled]="!edgeForm.valid || isPathShown">{{'Add' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="mt-4" *ngIf="(costMatrix.length> 0) &&(costMatrix | costMatrixValid)">
        <hr>
        <app-algorithm-form [costMatrix]="costMatrix"
                            (runAlgorithmEmitter)="onRunAlgorithm($event)"></app-algorithm-form>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="routeAlgorithmRows.length > 0">
    <app-route-algorithm-table [routeAlgorithmRows]="routeAlgorithmRows"
                               (routeOrderClickEmitter)="onCitiesOrderClick($event)"></app-route-algorithm-table>
  </div>

</div>
