<app-navbar></app-navbar>

<div class="container pt-3">

  <div class="row gx-5">
    <div class="col">
      <label for="citiesNumber" class="form-label">Number of cities</label>
      <div class="row">
        <div class="col-3">
          <input type="number" [formControl]="citiesNumber" class="form-control" id="citiesNumber">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary" (click)="generateCities()">Generate</button>
        </div>
      </div>

      <canvas id="canvas"></canvas>
    </div>

    <div class="col pt-5">
      <app-algorithm-form [costMatrix]="costMatrix" (runAlgorithmEmitter)="onRunAlgorithm($event)"></app-algorithm-form>
    </div>
  </div>

  <div class="mb-5" *ngIf="routeAlgorithmRows.length > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sortTable('algorithmType')">Algorithm</th>
        <th scope="col" (click)="sortTable('parameters')">Parameters</th>
        <th scope="col" (click)="sortTable('calculationTime')">Calculation time</th>
        <th scope="col" (click)="sortTable('totalCost')">Total cost</th>
        <th scope="col">Order</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let routeAlgorithmRow of routeAlgorithmRows; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ routeAlgorithmRow.algorithmType }}</td>
        <td>{{ routeAlgorithmRow.parameters }}</td>

        <td>
          <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.SUCCESS; else notSuccess">
            {{ routeAlgorithmRow.calculationTime * 1000 | date:'mm:ss'}}
          </ng-container>
          <ng-template #notSuccess>
            <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.ONGOING; else failure">
              <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #failure>
            <i class="bi bi-x-lg"></i>
          </ng-template>
        </td>

        <td>
          <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.SUCCESS; else notSuccess">
            {{ routeAlgorithmRow.totalCost | number}}
          </ng-container>
          <ng-template #notSuccess>
            <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.ONGOING; else failure">
              <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #failure>
            <i class="bi bi-x-lg"></i>
          </ng-template>
        </td>

        <td>
          <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.SUCCESS; else notSuccess">
            <a href="#canvas" (click)="drawCitiesOrder(routeAlgorithmRow.citiesOrder)">Order</a>
          </ng-container>
          <ng-template #notSuccess>
            <ng-container *ngIf="routeAlgorithmRow.status === requestStatuses.ONGOING; else failure">
              <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #failure>
            <i class="bi bi-x-lg"></i>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
