<app-navbar></app-navbar>

<div class="container pt-3">

  <div class="row">
    <div class="col">
      <label for="citiesNumber" class="form-label">Number of cities:</label>
      <div class="row">
        <div class="col-3">
          <input type="number" [formControl]="citiesNumber" class="form-control" id="citiesNumber">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary" (click)="generateCities()">Generate</button>
        </div>
      </div>

      <canvas id="canvas"></canvas>
    </div>

    <div class="col">
      2 of 2
    </div>
  </div>

</div>
