<app-navbar></app-navbar>

<div class="container pt-3">
  <div class="row gx-4">
    <div class="col-6">
      <form class="row">
        <div class="col-auto align-self-end">
          <label for="citiesNumber" class="form-label">{{'Number of cities' | translate }}</label>
        </div>
        <div class="col-3">
          <input type="number" [formControl]="citiesNumber" class="form-control" id="citiesNumber">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary"
                  (click)="generateCities()">{{'Generate' | translate }}</button>
        </div>
      </form>

      <canvas id="canvas"></canvas>
    </div>

    <div class="col-6 pt-5">
      <app-algorithm-form [costMatrix]="costMatrix" (runAlgorithmEmitter)="onRunAlgorithm($event)"></app-algorithm-form>
    </div>
  </div>

  <div class="mb-5" *ngIf="routeAlgorithmRows.length > 0">
    <app-route-algorithm-table [routeAlgorithmRows]="routeAlgorithmRows"
                               (routeOrderClickEmitter)="onRouteOrderClick($event)"></app-route-algorithm-table>
  </div>

</div>
